<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NewsTableName" value="NewsTableStorage" />
    <add key="HotNewsTableName" value="HotNewsTableStorage" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=goingon;AccountKey=P0blYdOTWXt7Tui4pY+UHE4IJaV3BaUbh89Zi654DwG31l4EwTdV/NU0l9uKNFDJVsW+AeM56P3yaNA8RDQ6+Q==" />
  </appSettings>
</configuration>